{% extends 'base.html.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-light mb-3 mt-3">
                <div class="card-header">List of Images</div>
                <div class="card-body">
                    <div class="row">
                        {% for image in images %}
                            <div class="col-12 col-lg-6 col-xl-4">
                                <img class="img-size" src="{{ uploaded_asset(image.imagePath) }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}